<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; padding:0;background:url('img/bg_header.png')">
		<tr>
			<td style="width: 600px;height: 287px;;text-align: center;">
				<img width="203" height="151" style="display: block;margin: 0 auto"src="./img/logo.png" alt="WTH">
				<span style="font-size:48px;font-weight: 400;">What the Hell</span>
			</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; padding:0;background-color:#e8e8e8">
		<tr>
			<td style="width: 560px;height: 340;font-size: 18px;font-weight: 400px; padding-top:20px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px">
				<span style="display: block; padding-bottom: 34px">Здравствуйте, #{nickname}!</span>
				<span style= "display:block;">Для подтверждения регистрации перейдите по ссылке: </span>
				<span style="width:302px ;height: 41px;border: 2px solid #e6008d;display: block;text-align: center;line-height: 41px;margin-top:20px;margin-bottom: 20px;margin-left: 10px" >
					<a href="#{confirmationLink}" style="color: #000000;text-decoration: none">Потверждение почтового ящика</a>
				</span>
				<span style= "display:block">Это нужно сделать до #{expirationDate}</span><br>
				<span style= "display:block; padding-bottom: 34px">Обратите внимание, что срок действия этого письма истекает через<br>
					<span style="text-decoration: underline;">три</span> часа. После этого ваша регистрация будет аннулирована.</span>
					<span style= "display:block">
					<span>Вы не запрашивали это изменение?<br>Если вы не запрашивали новый пароль, <a href="" style = 'color: #fc1f9d'><b>сообщите нам.</b></a></span>
				</span>
			</td>
		</tr>
		<tr>
			<td  style="color: #ffffff;text-align: center; background-image: url('./img/bg_footer.png');height: 47px">
				<span style="display: block;width: 298px;font-size: 12px;margin:0 auto;">Вы подписаны на рассылку от WTH. <a href="#"  style="text-decoration: none;color: #e6008d;">Отписаться</a><br>Возникли вопросы?Пишите нам: <a href="" style="color: #e6008d;text-decoration: none">letters@englishdom.com</a></span>
			</td>
		</tr>
	</table>
</body>
</html>